.btn-blue{
	background-color:#635BFF;
	padding: 15px 20px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	}
.btn-blue:hover{
	background-color:#00D4FF;
	color:#0A2540;
	transition: color 1.0s ease;
}